h1{
  width:80%;
  text-align:center;
  color:#fbfbfb;
  background:#8f17ff;
  height:60px;
  line-height: 60px;
  border-radius: 5px;
}
h1:not(:first-of-type){
  margin-top:200px
}


#full{
  width:25vw;
  height:25vw;
  margin:0px;
  display:inline-block;
}

#zoom{
  width:25vw;
  height:25vw;
  margin:0px;
  display:inline-block;
}

#glcanvas{
  width:100vw;
  height:100vh;
  display:block;
  position:fixed;
  top:0px;
  z-index:-1;
}

 
#controls{
  float:right;
  position: fixed;
  right: 0px;
}

.btn{
  display:block;
}
button{
    min-width:20vw;
    min-height:50px;
    font-size: 20px;
}

#temperature{
  min-width:30vw;
  height:50px;
  display:block;
}
label{
  display:block;
  font-size:30px
}
.inlineblock{
  display:inline-block;
}

h2{
  margin:0px;
}
